body{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {
    margin-top: 60px;
}

.radio {
    border-radius: 50%;
    opacity: 0.8;
}

.navbar {
    margin-left: -100px;
    overflow: hidden;
    background-color: cornflowerblue;
    position: fixed;
    top: 0;
    width: 100%;
}

h1{
    font-family: 'Lobster', cursive;
}


