<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../style.css"/>
</head>
<body>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light  container" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/index">How too...</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/flattire">How to become a programmer </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/sayhello">How to say hello</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/memory">How to memorize a list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/survival">How to light a fire</a>
            </li>
        </ul>
    </div>
</nav>



<h1 class="main">How to...</h1>



<p>Welcom to this website. Here you are going to discover how to do many things,
    from how to memorize a list of items to lighting a fire in a survival situation</p>
<p>Pic a topic from the menu below and become a master of one of the skills</p>
<ul>
    <p><a href="/flattire">How to become a programmer </a> </p>
    <p><a href="/sayhello"> How to say hello in 5 different languages</a></p>
    <p><a href="/memory"> How to memorize a list of items whith memory techniques</a></p>
    <p><a href="/survival"> How to light a fire in a survival situation</a></p>
</ul>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</div>
</body>
</html>